/* additional styles for player card */
.player--card {
  width: 18rem;
  background: linear-gradient(-45deg, #ffffff, #ffffff, #ffffff, #7a15474d);
  box-shadow: #7a15474d 1px 0px 0px 1px;
}

/* additional styles for jersey number */
.jersey--no {
  font-family: "Ubuntu", sans-serif;
  color: rgb(236, 236, 225);
  text-align: center;
  width: 50px;
}

/* additional styles for jersey icon */
.fa--jersey {
  width: 65px;
  height: 50px;
}
